* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

$primary: #171717;
$secondary: #00acee;
$tertiary: #14171a;
$fourth: #657786;
$fifth: #aabbc2;
$sixth: #ffffff;
$buttonHoverColor: #1a8dc2;

html {
  overflow-x: hidden;
  background: $primary;
}

.main {
  height: 100vh;
}

.form-section {
  background: $primary;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label,
  h1 {
    color: white;
  }

  .section-title {
    width: 70%;
    margin: 1rem auto;
    align-self: flex-start;
    h1 {
      font-size: 2rem;
    }
  }

  // Form content

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      background: $tertiary;
      border: none;
      outline: none;
      border-bottom: 2px solid $fourth;
      color: white;
      transition: border-bottom 400ms;
    }

    input:focus {
      border-bottom: 2px solid $sixth;
    }

    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    button:hover {
      background: $buttonHoverColor;
    }

    button {
      width: 7rem;
      margin: 1rem 0;
      padding: 0.5rem;
      background: $secondary;
      border: none;
      border: 1px solid $sixth;
      color: white;
      border-radius: 30px;
    }
  }
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("\/Programming-Practices\/Enrollment System Project\/pexels-steve-johnson-1509534.jpg");
  background-size: cover;
  height: 50vh;
  padding: 0.5rem;

  section {
    h1 {
      text-align: center;
      font-size: 3rem;
      color: $sixth;
    }
    p {
      color: $sixth;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .form-section {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .form-section {
    .form-content {
      * {
        font-size: 1.2rem;
      }
    }
  }
  .image-section {
    height: 60vh;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-section {
    width: 100%;
    height: 100vh;
    .form-content {
      * {
        font-size: 1.2rem;
      }
      button {
        padding: 0.8rem;
        width: 13rem;
        font-size: 1.2rem;
      }
    }
  }

  .image-section {
    height: 100vh;
    align-items: none;
    justify-content: flex-start;
    section {
      padding-left: 2rem;
      h1 {
        font-size: 4rem;
        text-align: left;
      }
      p {
        text-align: left;
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .form-section {
    width: 70vh;
  }
}
